LÍNEA DE INVESTIGACIÓN: Marketing
PREGUNTAS A RESPONDER:
- Género: Q2
- Edad de las mujeres de la muestra -> Q1
- En qué países europeos hay mayor número de mujeres en el mundo del data -> Q3
- Nivel de estudios de las mujeres de la muestra -> Q4
- Sector del que vienen las mujeres de la muestra
- Rol -> Q5
- Sector de la empresa actual -> Q20
- Salario -> Q25
- Plataformas de cursos utilizadas -> Q40
- Redes más utilizadas -> Q42
- Plataformas uso de compartir "código" -> Q39

### PREGUNTAS

PASO UNO (CÓMO LLEGO A MI PÚBLICO OBJETIVO)
- ¿Hay poco porcentaje de mujeres en el sector tecnológico? ¿Esto está relacionado con el país que analizamos (global, europero, español)? **Resuelto con gráfica
- Salario de Data analist y Bussines Analyst (en función de la experiencia). Brecha de género.
- Analizar el nivel de estudios y el sector del que vienen las mujeres que trabajan en DA o BA.

PASO DOS (QUÉ LE OFREZCO A MI PÚBLICO OBJETIVO)

- seleccionar rol: Data Analist, Business Analist

- con qué trabajan esos roles: herramientas de visualizacion, de graficas, notebooks, bases de datos relacionales y no relacionales, lenguajes de programación.

In [28]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable

In [29]:
df_adalab = pd.read_csv('data/df_adalab_limpio.csv', index_col = 'index')
pd.options.display.max_columns = None
df_adalab.head(2)

,age,gender,country,education,role,prog_language,code_env,notebook_kaggle,notebook_colab,notebook_azure,notebook_paperspace,notebook_binder,notebook_codeocean,notebook_ibmwatsonstudio,notebook_amazonsagemaker,notebook_amazonemr,notebook_googlecloudnotebooks,notebook_googleclouddatalab,notebook_databricks,notebook_zeppelin,notebook_deepnote,notebook_observable,notebook_OTHER,viz,field,salary,learn_dp_MySQL,learn_dp_PostgreSQL,learn_dp_SQLite,learn_dp_Oracle,learn_dp_Mongo,learn_dp_Snowflake,learn_dp_IBMDd2,learn_dp_SQLServer,learn_dp_AzureSQL,learn_dp_AzureCosmos,learn_dp_Redshift,learn_dp_Aurora,learn_dp_RDS,learn_dp_DynamoDB,learn_dp_BigQuery,learn_dp_CloudSQL,learn_dp_Firestore,learn_dp_BigTable,learn_dp_Spanner,learn_dp_Other,dp_most_freq,BI_tools,share_plotlydash,share_streamlit,share_NBViewer,share_GitHub,share_Personal blog,share_Kaggle,share_Colab,share_Shiny,share_None,share_OTHER,courses_Coursera,courses_edX,courses_Kaggle,courses_DataCamp,courses_Fastai,courses_Udacity,courses_Udemy,courses_LinkedIn,courses_Cloud-certification,courses_University,courses_OTHER,media_Twitter,media_Email,media_Reddit,media_Kaggle,media_Forums,media_YouTube,media_Podcasts,media_Blogs,media_Journal,media_Slack,media_OTHER,cat_experience
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,50-54,Man,India,Bachelor’s degree,Other,"Python, R",Vim / Emacs,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...",Manufacturing/Fabrication,"25,000-29,999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,Senior
1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,Manufacturing/Fabrication,"60,000-69,999",MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,Senior+

In [30]:
# Vamos a crear nuevo dataframe filtrado por los roles que nos interesan: da/ba:
df_adalab['role'].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Currently not employed', 'Student',
       'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
       'Business Analyst', 'Data Engineer', 'Product Manager',
       'Statistician', 'Developer Relations/Advocacy',
       'DBA/Database Engineer'], dtype=object)

In [31]:
df_da = df_adalab[(df_adalab['role'] == 'Data Analyst') | (df_adalab['role'] == 'Business Analyst')]
df_da.head(2)

,age,gender,country,education,role,prog_language,code_env,notebook_kaggle,notebook_colab,notebook_azure,notebook_paperspace,notebook_binder,notebook_codeocean,notebook_ibmwatsonstudio,notebook_amazonsagemaker,notebook_amazonemr,notebook_googlecloudnotebooks,notebook_googleclouddatalab,notebook_databricks,notebook_zeppelin,notebook_deepnote,notebook_observable,notebook_OTHER,viz,field,salary,learn_dp_MySQL,learn_dp_PostgreSQL,learn_dp_SQLite,learn_dp_Oracle,learn_dp_Mongo,learn_dp_Snowflake,learn_dp_IBMDd2,learn_dp_SQLServer,learn_dp_AzureSQL,learn_dp_AzureCosmos,learn_dp_Redshift,learn_dp_Aurora,learn_dp_RDS,learn_dp_DynamoDB,learn_dp_BigQuery,learn_dp_CloudSQL,learn_dp_Firestore,learn_dp_BigTable,learn_dp_Spanner,learn_dp_Other,dp_most_freq,BI_tools,share_plotlydash,share_streamlit,share_NBViewer,share_GitHub,share_Personal blog,share_Kaggle,share_Colab,share_Shiny,share_None,share_OTHER,courses_Coursera,courses_edX,courses_Kaggle,courses_DataCamp,courses_Fastai,courses_Udacity,courses_Udemy,courses_LinkedIn,courses_Cloud-certification,courses_University,courses_OTHER,media_Twitter,media_Email,media_Reddit,media_Kaggle,media_Forums,media_YouTube,media_Podcasts,media_Blogs,media_Journal,media_Slack,media_OTHER,cat_experience
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,"Python, SQL","JupyterLab ,Jupyter Notebook",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express",Energy/Mining,"2,000-2,999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure SQL Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,Senior+
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,Ggplot / ggplot2,Manufacturing/Fabrication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Junior

In [32]:
#Vamos a ver los rangos salariales que tenemos para DA/BA:
df_da['salary'].value_counts()

salary
$0-999              679
1,000-1,999         243
10,000-14,999       207
5,000-7,499         158
7,500-9,999         140
30,000-39,999       135
40,000-49,999       125
50,000-59,999       119
2,000-2,999         117
15,000-19,999       116
20,000-24,999       113
60,000-69,999       109
100,000-124,999     108
4,000-4,999         102
70,000-79,999        92
3,000-3,999          91
25,000-29,999        83
80,000-89,999        68
90,000-99,999        46
125,000-149,999      32
150,000-199,999      17
200,000-249,999       9
>$1,000,000           6
250,000-299,999       5
300,000-499,999       3
$500,000-999,999      1
Name: count, dtype: int64

In [33]:
#miramos cuales son los rangos de salary. Vamos a reorganizar estas categorías para no tener tantas y darles mayor sentido (salarios comunes en funcion de la experiencia).
df_da['salary'].unique()

array(['2,000-2,999', nan, '7,500-9,999', '$0-999', '25,000-29,999',
       '60,000-69,999', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '125,000-149,999', '5,000-7,499', '70,000-79,999', '10,000-14,999',
       '30,000-39,999', '15,000-19,999', '3,000-3,999', '4,000-4,999',
       '40,000-49,999', '200,000-249,999', '80,000-89,999',
       '50,000-59,999', '150,000-199,999', '90,000-99,999',
       '250,000-299,999', '>$1,000,000', '300,000-499,999',
       '$500,000-999,999'], dtype=object)

In [34]:
def salario(sal):
    try:
        if sal in ['$0-999', '1,000-1,999', '2,000-2,999', '3,000-3,999', '4,000-4,999', '5,000-7,499', '7,500-9,999', '10,000-14,999', '15,000-19,999']:
            return '< 20K'
        elif sal in ['20,000-24,999','25,000-29,999', '30,000-39,999', '40,000-49,999']:
            return '20K - 50K'
        elif sal in ['50,000-59,999', '60,000-69,999', '70,000-79,999', '80,000-89,999', '90,000-99,999']:
            return '50K - 100K'
        elif sal in ['100,000-124,999', '125,000-149,999', '150,000-199,999']:
            return '100K - 200K'
        elif sal in ['200,000-249,999','250,000-299,999', '300,000-499,999','$500,000-999,999' , '>$1,000,000']:
            return '> 200K'
    except:
        return np.nan

In [35]:
df_da['cat_salary'] = df_da['salary'].apply(salario)
df_da.head(2)

/tmp/ipykernel_10702/3366346681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_da['cat_salary'] = df_da['salary'].apply(salario)

,age,gender,country,education,role,prog_language,code_env,notebook_kaggle,notebook_colab,notebook_azure,notebook_paperspace,notebook_binder,notebook_codeocean,notebook_ibmwatsonstudio,notebook_amazonsagemaker,notebook_amazonemr,notebook_googlecloudnotebooks,notebook_googleclouddatalab,notebook_databricks,notebook_zeppelin,notebook_deepnote,notebook_observable,notebook_OTHER,viz,field,salary,learn_dp_MySQL,learn_dp_PostgreSQL,learn_dp_SQLite,learn_dp_Oracle,learn_dp_Mongo,learn_dp_Snowflake,learn_dp_IBMDd2,learn_dp_SQLServer,learn_dp_AzureSQL,learn_dp_AzureCosmos,learn_dp_Redshift,learn_dp_Aurora,learn_dp_RDS,learn_dp_DynamoDB,learn_dp_BigQuery,learn_dp_CloudSQL,learn_dp_Firestore,learn_dp_BigTable,learn_dp_Spanner,learn_dp_Other,dp_most_freq,BI_tools,share_plotlydash,share_streamlit,share_NBViewer,share_GitHub,share_Personal blog,share_Kaggle,share_Colab,share_Shiny,share_None,share_OTHER,courses_Coursera,courses_edX,courses_Kaggle,courses_DataCamp,courses_Fastai,courses_Udacity,courses_Udemy,courses_LinkedIn,courses_Cloud-certification,courses_University,courses_OTHER,media_Twitter,media_Email,media_Reddit,media_Kaggle,media_Forums,media_YouTube,media_Podcasts,media_Blogs,media_Journal,media_Slack,media_OTHER,cat_experience,cat_salary
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,"Python, SQL","JupyterLab ,Jupyter Notebook",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express",Energy/Mining,"2,000-2,999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure SQL Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Analytics Vidhya,...",NaN,NaN,NaN,Senior+,< 20K
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,Data Analyst,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,Ggplot / ggplot2,Manufacturing/Fabrication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Junior,None

In [36]:
df_da[df_da["country"] == "Spain"]["country"].count()

48

In [37]:
df_adalab.drop(["salary"], axis = 1, inplace = True)

In [38]:
df_da.to_csv('data/df_da.csv')

In [39]:
european_latin_countries = ["Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City", 
                            "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Costa Rica", "Cuba", "Dominican Republic", "Ecuador", "El Salvador", "Guatemala", "Honduras", "Mexico", "Nicaragua", "Panama", "Paraguay", "Peru", "Uruguay", "Venezuela"]

In [45]:
europa = ["Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City"]

In [48]:
df_da_europa = df_da[df_da["country"].isin (europa)]

In [49]:
df_da_europa.to_csv('data/df_da_europa.csv')

In [40]:
df_publicidad = df_adalab[((df_adalab['role'] == 'Other') | (df_adalab['role'] == 'Currently not employed') | (df_adalab['role'] == 'Student')) & (df_adalab['country'].isin(european_latin_countries))]

In [41]:
df_publicidad.head(2)

,age,gender,country,education,role,prog_language,code_env,notebook_kaggle,notebook_colab,notebook_azure,notebook_paperspace,notebook_binder,notebook_codeocean,notebook_ibmwatsonstudio,notebook_amazonsagemaker,notebook_amazonemr,notebook_googlecloudnotebooks,notebook_googleclouddatalab,notebook_databricks,notebook_zeppelin,notebook_deepnote,notebook_observable,notebook_OTHER,viz,field,learn_dp_MySQL,learn_dp_PostgreSQL,learn_dp_SQLite,learn_dp_Oracle,learn_dp_Mongo,learn_dp_Snowflake,learn_dp_IBMDd2,learn_dp_SQLServer,learn_dp_AzureSQL,learn_dp_AzureCosmos,learn_dp_Redshift,learn_dp_Aurora,learn_dp_RDS,learn_dp_DynamoDB,learn_dp_BigQuery,learn_dp_CloudSQL,learn_dp_Firestore,learn_dp_BigTable,learn_dp_Spanner,learn_dp_Other,dp_most_freq,BI_tools,share_plotlydash,share_streamlit,share_NBViewer,share_GitHub,share_Personal blog,share_Kaggle,share_Colab,share_Shiny,share_None,share_OTHER,courses_Coursera,courses_edX,courses_Kaggle,courses_DataCamp,courses_Fastai,courses_Udacity,courses_Udemy,courses_LinkedIn,courses_Cloud-certification,courses_University,courses_OTHER,media_Twitter,media_Email,media_Reddit,media_Kaggle,media_Forums,media_YouTube,media_Podcasts,media_Blogs,media_Journal,media_Slack,media_OTHER,cat_experience
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,22-24,Man,Russia,Bachelor’s degree,Currently not employed,"Python, SQL",Other,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,NaN,MySQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,Mid
35,30-34,Woman,Brazil,Bachelor’s degree,Currently not employed,"Python, R, SQL","JupyterLab ,RStudio ,PyCharm ,Jupyter Notebook",Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Ggplot / ggplot2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure SQL Database,NaN,NaN,NaN,NaN,NaN,Google Cloud BigQuery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Junior

In [42]:
df_da_publi = df_adalab[((df_adalab['role'] == 'Data Analyst') | (df_adalab['role'] == 'Business Analyst')) & (df_adalab['country'].isin(european_latin_countries))]

In [43]:
df_publicidad.to_csv('data/df_publicidad.csv')

In [44]:
df_da_publi.to_csv('data/df_da_publi.csv')