In [1]:
import pandas as pd
import os
import re
import xml.etree.ElementTree as ET

In [4]:
kaggle = pd.read_csv('../data/data_remaning_kaggle.csv', sep = ',', index_col = 'index')
kaggle = kaggle.iloc[:,1:]

In [5]:
kaggle.to_csv('../data/kaggle.csv')

In [6]:
exported = pd.read_csv('../data/exported_db_data.csv', sep = ',', index_col = 'index')

In [7]:
tree = ET.parse('../data/data_xml_clean.xml')
root = tree.getroot()

xml_list = []
for child in root:
    xml_dict = {}
    for subchild in child:
        xml_dict[subchild.tag] = subchild.text
    xml_list.append(xml_dict)

In [8]:
xml_series = pd.Series(xml_list) # creamos serie

In [9]:
df_xml = pd.DataFrame.from_dict(xml_series)  # creamos DF malo a partir de los diccionarios

In [10]:
para_limpiar_xml = df_xml[0].apply(pd.Series)  # se convierten k-v en filas-columnas

C:\Users\anais\AppData\Local\Temp\ipykernel_21360\2147706746.py:1: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  para_limpiar_xml = df_xml[0].apply(pd.Series)  # se convierten k-v en filas-columnas

In [11]:
para_limpiar_xml = para_limpiar_xml.drop(columns =["level_0"])

In [12]:
para_limpiar_xml.set_index("index", inplace=True)  # cambiamos el indice

In [14]:
para_limpiar_xml.to_csv('../data/df_xml.csv')  # guardamos en csv

In [15]:
texto = pd.read_csv("../data/data_txt_clean.txt", sep=";", index_col = 'index')

In [16]:
def preguntas(archivo):
    print(f"¿Cuántas filas y columnas tenemos en cada uno de los dataframes?\n{archivo.shape}")
    print(f"¿Cuáles son los tipos de datos de cada una de las columnas?\n")
    display(archivo.info())
    print(f"¿Cuáles son los elementos básicos estadísticos de los dataframes?\n")
    display(archivo.describe())
    print(f"¿Qué información tenemos?\n")
    display(archivo.head())

In [17]:
preguntas(kaggle)

¿Cuántas filas y columnas tenemos en cada uno de los dataframes?
(25973, 212)
¿Cuáles son los tipos de datos de cada una de las columnas?

<class 'pandas.core.frame.DataFrame'>
Index: 25973 entries, 0 to 25972
Columns: 212 entries, Q18_Part_1 to Q38_B_OTHER
dtypes: float64(21), object(191)
memory usage: 42.2+ MB

None

¿Cuáles son los elementos básicos estadísticos de los dataframes?

,Q18_Part_6,Q19_Part_5,Q27_A_Part_11,Q40_Part_11,Q42_Part_11,Q27_B_Part_11,Q29_B_Part_4,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,...,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_9,Q32_B_Part_20,Q34_B_Part_16,Q36_B_Part_7,Q37_B_Part_7,Q38_B_Part_11
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

¿Qué información tenemos?

,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
index,,,,,,,,,,,,,,,,,,,,,
0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
preguntas(xml)

NameError: name 'xml' is not defined

In [19]:
preguntas(exported)

¿Cuántas filas y columnas tenemos en cada uno de los dataframes?
(25973, 17)
¿Cuáles son los tipos de datos de cada una de las columnas?

<class 'pandas.core.frame.DataFrame'>
Index: 25973 entries, 0 to 25972
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Q10_Part_1   9507 non-null   object
 1   Q10_Part_2   9792 non-null   object
 2   Q10_Part_3   1062 non-null   object
 3   Q10_Part_4   209 non-null    object
 4   Q10_Part_5   1770 non-null   object
 5   Q10_Part_6   175 non-null    object
 6   Q10_Part_7   1067 non-null   object
 7   Q10_Part_8   753 non-null    object
 8   Q10_Part_9   348 non-null    object
 9   Q10_Part_10  2051 non-null   object
 10  Q10_Part_11  1794 non-null   object
 11  Q10_Part_12  590 non-null    object
 12  Q10_Part_13  251 non-null    object
 13  Q10_Part_14  260 non-null    object
 14  Q10_Part_15  147 non-null    object
 15  Q10_Part_16  0 non-null      float64
 16  Q10_OTHER    737 non-null    object
dtypes: float64(1), object(16)
memory usage: 3.6+ MB

None

¿Cuáles son los elementos básicos estadísticos de los dataframes?

       Q10_Part_16
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

¿Qué información tenemos?

,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
index,,,,,,,,,,,,,,,,,
0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
preguntas(texto)

¿Cuántas filas y columnas tenemos en cada uno de los dataframes?
(25973, 26)
¿Cuáles son los tipos de datos de cada una de las columnas?

<class 'pandas.core.frame.DataFrame'>
Index: 25973 entries, 0 to 25972
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q3      25973 non-null  object
 1   Q4      25973 non-null  object
 2   Q5      25973 non-null  object
 3   Q6      25973 non-null  object
 4   Q8      24829 non-null  object
 5   Q11     24461 non-null  object
 6   Q13     24403 non-null  object
 7   Q15     23754 non-null  object
 8   Q20     16325 non-null  object
 9   Q21     16251 non-null  object
 10  Q22     16126 non-null  object
 11  Q23     15952 non-null  object
 12  Q25     15391 non-null  object
 13  Q26     15183 non-null  object
 14  Q33     4656 non-null   object
 15  Q35     2237 non-null   object
 16  Q41     18489 non-null  object
 17  Q7      24941 non-null  object
 18  Q9      24934 non-null  object
 19  Q12     24582 non-null  object
 20  Q14     23970 non-null  object
 21  Q16     19624 non-null  object
 22  Q17     19315 non-null  object
 23  Q24     15635 non-null  object
 24  Q32     9484 non-null   object
 25  Q34     9399 non-null   object
dtypes: object(26)
memory usage: 5.4+ MB

None

¿Cuáles son los elementos básicos estadísticos de los dataframes?

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
count,25973,25973,25973,25973,24829,24461,24403,23754,16325,16251,...,18489,24941,24934,24582,23970,19624,19315,15635,9484,9399
unique,66,7,15,7,12,5,5,9,18,5,...,6,825,1330,26,467,1401,756,96,1558,392
top,India,Master’s degree,Student,1-3 years,Python,A laptop,Never,< 1 year,Computers/Technology,0-49 employees,...,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,None
freq,7434,10132,6804,7874,20213,16231,16457,9163,4079,5055,...,7246,4740,2341,13234,5697,2688,1807,2891,2297,4123

¿Qué información tenemos?

,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
index,,,,,,,,,,,,,,,,,,,,,
0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,"1000-9,999 employees",...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,50-249 employees,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI